NEXT_PUBLIC_SITE_URL=https://mahvion.com
NEXT_PUBLIC_COMPANY_NAME=Mahvion
NEXT_PUBLIC_CONTACT_EMAIL=hello@mahvion.com
NEXT_PUBLIC_CONTACT_PHONE=+1-000-000-0000

# App subdomains
NEXT_PUBLIC_APP_ERP=https://erp.mahvion.com
NEXT_PUBLIC_APP_MED=https://med.mahvion.com
NEXT_PUBLIC_APP_INS=https://ins.mahvion.com
NEXT_PUBLIC_APP_REAL=https://real.mahvion.com
